<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="AnnouncementListener">
        <endpoint kind="udpAnnouncementEndpoint"/>
      </service>
      <service name="Server.Service.TestService" behaviorConfiguration="HttpGetEnable">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9191/HelloService"/>
          </baseAddresses>
        </host>
        <endpoint address="ep1" binding="basicHttpBinding" contract="SContract.ITestService" behaviorConfiguration="ep1Behavior"/>
        <endpoint address="ep0" binding="basicHttpBinding" contract="SContract.ITestService" behaviorConfiguration="ep0Behavior"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpGetEnable">
          <!--公开元数据，正是部署时候应该去掉防止元数据泄露-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>

        <!--<behavior name="helloWorldServiceBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>-->

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ep0Behavior">  
          <endpointDiscovery enabled="false"/>  
        </behavior>  
        <behavior name="ep1Behavior">  
          <endpointDiscovery enabled="true"/>  
        </behavior> 
      </endpointBehaviors>
    </behaviors>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="NoneSecurity">
          --><!--取消安全验证--><!--
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>-->
  </system.serviceModel>
</configuration>
